/**
 * Mixins
 *
 * @author magnify
 */
/* Breakpoints
   ========================================================================== */
/* Media query
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
.pane-ding-custom-facets span.fieldset-legend {
  color: #7c7c7c;
}
.pane-ding-custom-facets a:link {
  text-decoration: none;
}
.pane-ding-custom-facets a:visited {
  color: #00b7e7;
}
.pane-ding-custom-facets a:hover {
  color: #006681;
}
.pane-ding-custom-facets input[type="checkbox"] {
  float: left;
  margin-top: 4px;
  margin-right: 8px;
  vertical-align: baseline;
  height: 16px;
  width: 16px;
}

@media only screen and (max-width: 768px) {
  .secondary-content .pane-ding-custom-facets {
    display: none;
  }
}

.primary-content .pane-ding-custom-facets {
  display: none;
}
@media only screen and (max-width: 768px) {
  .primary-content .pane-ding-custom-facets {
    display: block;
  }
}
