@import "_mixins";

.pane-ding-custom-facets {
  span.fieldset-legend {
   color: #7c7c7c;
  }

  a:link {
    text-decoration: none;
  }

  a:visited {
    color: #00b7e7;
  }

  a:hover {
    color: #006681;
  }

  input[type="checkbox"] {
    float: left;
    margin-top: 4px;
    margin-right: 8px;
    vertical-align: baseline;
    height: 16px;
    width: 16px;
  }
}

.secondary-content {
  @include small-medium() {
    .pane-ding-custom-facets {
      display: none;
    }
  }
}

.primary-content {
  .pane-ding-custom-facets {
    display: none;
  }

  @include small-medium() {
    .pane-ding-custom-facets {
      display: block;
    }
  }
}